@font-face {
  font-family: Gilroy-Bold;
  src: url("fonts/gilroy-bold.ttf") format('truetype');
}

@font-face {
  font-family: Gilroy-Medium;
  src: url("fonts/gilroy-medium.ttf") format('truetype');
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("fonts/gilroy-regular.ttf") format('truetype');
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url("fonts/gilroy-semibold.ttf") format('truetype');
}

.header-tiles {
  display: flex;
  flex-direction: row;
  width: 1170px;
  margin: 100px auto;
  gap: 30px;
}

.header-tiles-item {
  background: #FFF;
}

.header-tiles-item-with-shadow {
  background: #FFF;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.header-tiles-item-logo {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  padding: 40px 270px 12px 30px;
  margin: 0;
}

.header-tiles-item-title {
  padding: 12px 0 8px 30px;
  height: 30px;
}

.header-tiles-item-title h3 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.header-tiles-item-description {
  height: 42px;
  flex-shrink: 0;
  padding: 8px 30px 12px 30px;
}

.header-tiles-item-description p {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.header-tiles-item-button button{
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background: transparent;
  border-color: transparent;
  padding: 12px 0 25px 30px;
  margin: 0;
  border-width: 0;
  height: 17px;
}

.body-content {
  padding-top: 92px;
  background: #FAFAFA;
}

.body-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-content-top-title {
  width: 579px;
}

.body-content-top-title h1 {
  margin: 0;
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-content-top-description {
  width: 682px;
  padding-top: 19px;
}

.body-content-top-description p {
  color: #666;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.body-content-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  padding: 55px 0 100px 0;
}

.body-content-bottom-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  flex-shrink: 0;
  background: #FFFFFF;
}

.body-content-bottom-tile-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  flex-shrink: 0;
  background: #FFFFFF;
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.body-content-bottom-tile-image {
  width: 370px;
  height: 289px;
  flex-shrink: 0;
}

.body-content-bottom-tile-title h3 {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.body-content-bottom-tile-title {
  padding-top: 22px;
}

.body-content-bottom-tile-description p {
  color: #AAA;
  text-align: center;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 310px;
  height: 63px;
  flex-shrink: 0;
}

.body-content-bottom-tile-button {
  padding: 39px 0 50px 0;
}

.body-content-bottom-tile-button button {
  width: 150px;
  height: 50px;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  border-radius: 50px;
  background: #F25822;
  border-color: transparent;
}